{{#if bucket}}
<h3> Bucket: {{bucket.bOrder}} - {{bucket.bTitle}}</h3>
<h4>Description:</h4>
<h5 class="well well-sm">{{bucket.bDesc}}</h5>
<h4>Entrance Criteria:</h4>
<h5 class="well well-sm">{{bucket.intCrit}}</h5>
<h4>Exit Criteria:</h4>
<h5 class="well well-sm">{{bucket.exCrit}}</h5>
{{else}}
<h3>That bucket couldn't be found!</h3>
{{/if}}
<br>
<h4 class="bg-info">Bucket Backlog:</h4>

{{#each bucket.addedTask as |bucket index|}}

<h4>#{{tOrder}} - {{tTitle}}</h4>
{{/each}}

<hr>
<h3>Add Task</h3>
<div class="container">
  <form action="/bucket/{{ bucket.bTitle }}?_method=patch" method="post">
    <div class="form-group row">
      <label for="number-input" class="col-2 col-form-label">Task Order</label>
      <div class="col-10">
        <input class="form-control" type="number" name="bucket[addedTask][tOrder]" placeholder="#" id="number-input">
      </div>
    </div>
    <div class="form-group row">
      <label for="text-input" class="col-2 col-form-label">Title</label>
      <div class="col-10">
        <input class="form-control" type="text" name="bucket[addedTask][tTitle]" placeholder="Task Title" id="text-input">
      </div>
    </div>
    <div class="form-group row">
      <label for="textarea-input" class="col-2 col-form-label">Task Description</label>
      <div class="col-10">
        <textarea class="form-control" name="bucket[addedTask][tDesc]" id="textarea-input" placeholder="Task Description" rows="2"></textarea>
      </div>
    </div>
    <div class="form-group row">
      <label for="text-input" class="col-2 col-form-label">Importance</label>
      <div class="col-10">
        <input class="form-control" type="text" name="bucket[addedTask][importance]" placeholder="Task Importance" id="text-input">
      </div>
    </div>
    <div class="form-group row">
      <label for="date-input" class="col-2 col-form-label">Due Date</label>
      <div class="col-10">
        <input class="form-control" type="date" name="bucket[addedTask][dueDate]" placeholder="mm/dd/yyy" id="date-input">
      </div>
    </div>
    <div class="form-group row">
      <label for="text-input" class="col-2 col-form-label">Task Status</label>
      <div class="col-10">
        <input class="form-control" type="text" name="bucket[addedTask][status]" placeholder="Task Status" id="text-input">
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Add Task</button>
      </div>
    </div>
  </form>
</div>
<hr>

<h3> Update Bucket</h3>
<div class="container">
  <form action="/bucket/{{ bucket.bTitle }}?_method=put" method="post">
    <div class="form-group row">
      <label for="text-input" class="col-2 col-form-label">Order</label>
      <div class="col-10">
        <input class="form-control" type="text" name="bucket[bOrder]" value="{{bucket.bOrder}}" id="text-input">
      </div>
    </div>
    <div class="form-group row">
      <label for="text-input" class="col-2 col-form-label">Title</label>
      <div class="col-10">
        <input class="form-control" type="text" name="bucket[bTitle]" value="{{bucket.bTitle}}" id="text-input">
      </div>
    </div>
    <div class="form-group row">
      <label for="textarea-input" class="col-2 col-form-label">Description</label>
      <div class="col-10">
        <textarea class="form-control" name="bucket[bDesc]" id="text-area-input" rows="2">{{bucket.bDesc}}</textarea>
      </div>
    </div>
    <div class="form-group row">
      <label for="textarea-input" class="col-2 col-form-label">Entrance Criteria</label>
      <div class="col-10">
        <textarea class="form-control" name="bucket[intCrit]" id="text-area-input" rows="2">{{bucket.intCrit}}</textarea>
      </div>
    </div>
    <div class="form-group row">
      <label for="textarea-input" class="col-2 col-form-label">Exit Criteria</label>
      <div class="col-10">
        <textarea class="form-control" name="bucket[exCrit]" id="text-area-input" rows="2">{{bucket.exCrit}}</textarea>
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </div>
  </form>
</div>
<div class="container">
  <form action="/bucket/{{bucket.bTitle}}?_method=delete" method="post">
    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button type="submit" class="btn btn-danger">Remove</button>
      </div>
    </div>
  </form>
</div>